body {
  font-family: "Lato", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: normal;
  background: #fbd1b7;
  color: gray;
}
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Lato", Arial, sans-serif;
  color: #000;
}

.login-section {
  padding: 7em 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.justify-content-center {
  justify-content: center !important;
}

.text-center {
  text-align: center !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}
.col-lg-4,
.col-md-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.login-wrap {
  position: relative;
  background: #000232;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
}
.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}
.pt-5,
.py-5 {
  padding-top: 3rem !important;
}
@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.section-heading {
  font-size: 28px;
  color: #000;
}

@media (min-width: 992px) {
  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}
.login-wrap h3 {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}
.text-center {
  text-align: center !important;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Lato", Arial, sans-serif;
  color: #000;
}

form {
  display: block;
  margin-top: 0em;
}

.form-group {
  position: relative;
  margin-bottom: 1rem;
}
.form-group .icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20px;
  height: 48px;
  background: transparent;
  font-size: 18px;
}
.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.space-between {
  justify-content: space-between;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.form-control {
  height: 48px;
  background: rgba(0, 0, 0, 0.05);
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 14px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #b689b0;
  padding-left: 30px;
  padding-right: 0;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input:focus {
  outline: none;
}
.w-100 {
  width: 100% !important;
}
@media (min-width: 768px) {
  .text-md-right {
    text-align: right !important;
  }
}
.btn.btn-primary {
  background: #b689b0;
  border: 1px solid #b689b0 !important;
  color: #fff !important;
}
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}
.card-content {
  background-color: #fff;
  padding: 30px;
}
p {
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #fff;
}

.card-title {
  height: 20px;
  margin: 0;
  text-align: center;
}
.btn {
  cursor: pointer;
  border-radius: 40px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 15px;
}

.card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  width: 350px;
  height: auto;
  margin-top: 1rem;
  margin-right: 0.5rem;
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
  transition: all 0.3s;
}
.header {
  background-color: #000232;
  padding: 1.5rem;
  color: aliceblue;
  box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
}

.wrap-post-container {
  width: 668px;
  background: #fff;
  border-radius: 2px;
  overflow: hidden;
  padding: 52px 60px 78px;
  box-shadow: 0 3px 20px 0 rgb(0 0 0 / 10%);
  -moz-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0 rgb(0 0 0 / 10%);
  -o-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
}

.post-input-warp {
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  margin-bottom: 10px;
}

.post-form-title {
  display: block;
  font-family: OpenSans-Regular;
  font-size: 30px;
  color: #333;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 33px;
}
.post-input {
  display: block;
  width: 100%;
  background: 0 0;
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #333;
  line-height: 1.2;
}

input.post-input {
  padding: 1rem;
  border: none;
}

textarea.post-input {
  min-height: 199px;
  padding: 25px 20px 15px 30px;
  outline: none;
  border: none;
}
.post-form {
  width: 100%;
}
@media (max-width: 576px) {
  .wrap-post-container {
    padding: 52px 15px 78px;
  }
}
.pl-3,
.px-3 {
  padding-left: 1rem !important;
}
.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.rounded {
  border-radius: 0.25rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.login-wrap p {
  color: rgba(255, 255, 255, 0.5);
}
.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.text a {
  text-transform: uppercase;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #b689b0;
}

.post-content {
  display: grid;
  grid-template-columns: auto auto auto auto;
  place-content: center;
  padding: 10px;
}
